body{
  background: url('https://pbs.twimg.com/media/FFCGZZgXEAIZID-.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

.bg-color{
  background-color: #ffc10775 !important;
}

.form{
  margin-top: 20vh;
}